<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      span {
        display: inline-block;
        width: 70px;
        height: 70px;
        margin: 6px;
        background-color: #555;
      }
      .border {
      display: inline-block;
      width: 70px;
      height: 70px;
      margin: 6px;
      }
      .content {
        max-width: 1000px;
        margin: auto;
        }
    </style>
  </head>
  <body style="background-color:rgb(214, 242, 247)">
    <nav class="navbar navbar-expand-xl bg-info"> 
      <h1 class="container text-center">ERROR</h1>
    </nav>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-7">
                    <h1>Usuario o contraseña incorrectos</h1>
                    <button onclick="location.href = '/'" type="button" class="btn btn-primary btn-lg btn-block">Regresar al Inicio</button>
                    </form>
                </div>
            </div>
        </div>
    </div>    
  </body>
</html>