<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>Hora Agendadas</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <style>
    .footer{position: fixed; left:0; bottom:0; width: 100%; text-align: center; background-color: lightseagreen; color:mediumorchid;}
  </style>
</head>
<body style="background-color:rgb(214, 242, 247)">
    <nav class="navbar navbar-expand-xl bg-info"> 
        <img src="{% static 'principal/img/logo.png' %}" alt="logo" style="width: 100px;" class="d-inline-block align-top">
            <h1 class="container text-center">Horas Agendadas por los Pacientes</h1>
        </nav>
    <h1></h1>
    <div class="container">
        <div class="row">
            <table class="table">
                <tr>
                    <td>ID</td>
                    <td>Dia</td>
                    <td>Mes</td>
                    <td>Hora</td>
                    <td>Medico</td>
                    <td>Paciente</td>
                </tr>
                {% for h in horas %}
                        <tr>
                                <td>{{h.idHora}}</td>
                                <td>{{h.dia}}</td>
                                <td>{{h.mes}}</td>
                                <td>{{h.hora}}</td>
                                <td>{{h.medico}}</td>
                                <td>{{h.nombre}}</td>
                        </tr>
                   {% endfor %}
                   <a href="verM2" class="btn btn-primary">Volver</a>     
    </div>    
    <div class="footer"><h1>Cruz Morada</h1></div>         
</body>
</html>